h1 {
    font-size: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

h2 {
    font-size: 40px;
    margin-bottom: -8px;
}

h3 {
    font-size: 45px;
    margin-bottom: 15px;
}

.form-styling {
    margin-top: 20px;
}

.form-styling label {
    font-size: 24px;
    font-weight: 300;
}

.form-styling input {
    width: 99%;
    margin-top: 5px;
    padding: 5px;
    border-radius: solid #d3d3d3 5px;
    font-size: 14px;
}

table, tr, td{
    border: solid black 1px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table_headings {
    font-size: 36px;
    font-weight: 400;
}

#bookadded {
    margin-top: 20px;
    background: green;
    color: white;
    width: 100%;
    border-color: transparent;
    border-radius: 5px;
    padding: 8px;
    font-size: 25px;
}

#bookadded:hover { /*hover over the Button and it darkens a bit*/
    filter: brightness(0.8);
}

.deletebtn {
  padding: 5px 10px;
  background-color: crimson;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  margin: 5px;
}

.deletebtn:hover {
    filter: brightness(0.9);
}

html {
  font-family: "Sansation", sans-serif; 
  margin-left: 10px;
  margin-right: 10px;
}

/*for phone accessibility*/
@media screen and (max-width: 767px) {
    body {
        font-size: 16px; 
    }

    h1 {
        display: block;
        height: 50%;
        font-size: 50px;
    }

    h3 { 
        font-size: 38px;
    }

    .table_headings {
        font-size: 28px;
    }

}

