h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 45px;
}

.form-styling {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.input-field-styling {
    display: flex;
    flex-direction: row;
}